<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="5" status="info">
	<Properties>
		<property name="LOG_PATTERN" value="%d %p %c{9.9.9.1}(%L) [%t] %m%n" />
	</Properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}"/>
		</Console>
	</appenders>

	<loggers>
		<root level="WARN"></root>
		<logger name="io.github.jjzbruce" level="TRACE">
			<appender-ref ref="Console"/>
		</logger>
	</loggers>

</configuration>
